@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

:root{
    --color-yellow: #FFE74C;
    --primary-color: #35A7FF;
    --secondary-color: #38618C;
}

html body{
    background-color: var(--secondary-color);
}

/* BACK BUTTON STYLES */
.previous__wrapper{
    position: absolute;
    top: 0;
    z-index: 999;
    padding: 20px 10px;
}

.custom__btn.back__btn{
    font-size: 15px;
    padding: 0.4rem;
    display: none;
}


.about__wrapper{
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}
.custom__btn.about__btn{
    padding: 5px;
    font-size: 15px;
}

.app__container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 5% 97%, 0 100%, 0% 50%);
    background-color: var(--primary-color);
    flex-direction: column;
    gap: 20px;
    transition: 3s all;
}

.custom__btn{
    border: none;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 2px;
    position: relative;
    color: var(--secondary-color);
}

.init__btn{
    color: var(--secondary-color);
    background-color: #FFFFFF;
    line-height: 1.5;
    font-weight: 600;
    font-size: 30px;
}

.custom__btn::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 5%;
    transition: 0.3s all;
}

.custom__btn:hover::after{
    background-color: var(--secondary-color);
    width: 100%;
    height: 3%;
}


.menu__btn{
    margin: 12px;
}


/* BENEFICIARY PHONE NUMBER */

.tel__input input{
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    width: 100%;
    border-radius: 2px;
}

.tel__input button{
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: var(--secondary-color);
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
}

.tel__input button::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 4%;
    background-color: #FFFFFF;
    transition: 0.3s all;
    opacity: 0.6;
}

.tel__input button:hover::after{
    width: 100%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 5%;
    background-color: #FFFFFF;
}


.network__btn{
    margin: 1.1rem;
}


/* SECTION FLOWS */
.phone__section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone__section > form{
    display: flex;
    flex-direction: column;
}


.dataPlan__section{
    flex-direction: row;
    flex-wrap: wrap;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%, 0 100%, 0% 100%);
    padding: 50px 10px;
}

.accordion-item button.accordion-button{
    color: var(--secondary-color);
    font-weight: 600;
    line-height: 1.2;
    position: relative;
}

.accordion-item button.accordion-button::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0%;
    width: 0%;
    background-image: none;
    background-color: var(--secondary-color);
    transition: 0.4s all;
}

.accordion-item button.accordion-button:hover::after{
    width: 100%;
    height: 1px;
}

div.accordion-item{
    border-bottom: 0px solid transparent;
}

@media (min-width: 900px){
    .phone__section > form{
        display: flex;
        gap: 2px;
    }
    .tel__input input{
        width: 400px;
    }

}